<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/default}">



    <section layout:fragment="contents" class="contents d-flex justify-content-center p-4">
        <div class="user-box p-5 my-5">
            <h2 class="text-center">로그인</h2>
            <input type="text" class="form-control mt-2" placeholder="아이디" id="idInput">
            <input type="password" class="form-control mt-2" placeholder="비밀번호" id="passwordInput">
            <button type="button" class="btn mt-3 btn-secondary btn-block" id="loginBtn">로그인</button>
            <div class="mt-4 d-flex justify-content-center">
                <a href="/user/join">회원가입</a>
            </div>
        </div>
    </section>

    <script layout:fragment="script">
        $("#loginBtn").on("click", function(){
            let id = $("#idInput").val();
            let password = $("#passwordInput").val();

            if(id == ""){
                alert("아이디를 입력하세요");
                return;
            }

            if(password == ""){
                alert("비밀번호를 입력하세요");
                return;
            }

            console.log(id);
            console.log(password);

            $.ajax({
                type:"post"
                , url:"/user/login-process"
                , data:{"loginId":id , "password":password}
                , success: function(response){
                    if(response.result =="success"){
                        location.href="/memo/list"
                    }else{
                        alert("아이디와 비밀번호를 확인해주세요");
                    }
                }
                ,error: function(){
                    alert("로그인 에러!");
                }
            });
        });
    </script>

</html>