<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/default}">


<section class="contents d-flex justify-content-center" layout:fragment="contents">
    <div class="contents-box my-5">
        <h2 class="text-center">메모 상세</h2>

        <input type="text" id="titleInput" class="form-control mt-4" th:value="${memo.title}" value="샘플 메모 제목입니다." placeholder="제목을 입력하세요">
        <textarea id="contentsInput" class="form-control mt-3" rows="12" th:text="${memo.contents}" placeholder="내용을 입력하세요">샘플 메모내용입니다</textarea>
        <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-danger">삭제하기</button>
            <div>
                <a href="memo/list"  class="btn btn-secondary">목록으로</a>
                <button type="button" id="saveBtn" class="btn btn-secondary">수정</button>
            </div>
        </div>
    </div>

</section>



</html>